
.noneBanner{
    max-width: 90%;
    margin: 0 auto 20px;
    display: block;
}
.userCart {
    padding: 24px 40px;
    background: #7892ab;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
}

.userCart strong {
    border: 1px dashed white;
    margin-left: 10px;
    padding: 1px 5px;
}
.imageInfo{
    text-decoration: none;
}
.moreButton{
flex: 1;
color: black
}
.userCart h3 {
    text-decoration: underline;
    margin-bottom: 8px;
}

.imageBox {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 400px;
}

.imageBox img {
    max-width: 100%;
}

#customLegend {
    margin-bottom: 0 !important;
    bottom: 0 !important;
    display: flex;
    flex-direction: column;
    opacity: 0.7!important;

}
.legend a{
    color: black!important;
}