.Modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}

.ModalContent{
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    color: black;
    max-width: 400px;
    text-align: center;
}

.Modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Modal p{
    font-size: 13px;
}
.Modal ul{
    line-height: 15px;
    text-align: left;
    font-size: 13px;
}
.Modal h5 {
    font-size: 16px;
}
.Modal h3{
    font-size: 18px;
}