footer.footer{
    background: linear-gradient(275.92deg, #46327B 12.34%, #000000 122.99%);
    text-align: center;
    padding: 30px 0;
}
footer a{
    color: white;
    text-decoration: none;
}
.bottomMenu a{
    color: white;
}
.logo img{
width: 150px;
}
.footerCol{
    width:30%;
}
.bottomMenu ul{
    list-style: none;
    text-align: center;
}
.footerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button{
    background: none;
    color: white;
    border: none;
}
.mailLink{
    color: #7F679C;
}
@media (max-width:900px) {
    .footerCol{
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    .aboutModal{
        overflow: hidden;
    }
}