.mainPage{
    width: 100%;
    background: url('../../assets/main-bg.png');
    color: white;
    background-size: cover;
}
.headerWrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.mainPage h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.benefits{
    background: linear-gradient(275.92deg, #72327b 12.34%, rgba(201, 0, 112, 0.87) 122.99%);
}
.enterButton{
    font-size: 16px;
    color: white;
    border: 2px solid #0B8F00;
    padding: 15px 45px;
    background: transparent;
    border-radius: 12px;
}
.infoWrapper{
    max-width: 100%;
    width: 700px;
    padding: 30px 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.logo img{
    width:150px;
}
.infoWrapper hr{
    margin: 17px auto;
    width: 100%;
}
.register{
    background: url('../../assets/bi_pencil.png') center no-repeat;
}
.watch{
    background: url('../../assets/cil_clock.png') center no-repeat;
}
.collect{
    background: url('../../assets/clarity_wallet-line.png') center no-repeat;
}
.getPrice{
    background: url('../../assets/simple-line-icons_present.png') center no-repeat;
}
.buttonsBlock{
    display: flex;
    justify-content: left;
    margin-top: 20px;
}
.icons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icons span{
    width: 200px;
    height: 200px;
    margin: 30px 30px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.icons span:not(:last-child)::after  {
    background: url('../../assets/arrows.png') no-repeat;
    content: '';
    width: 100px;
    position: absolute;
    height: 37px;
    top: 40%;
    right: -104px;
  }
.icons i{
    display: block;
    font-size: 42px;
    margin-bottom: 17px;
}


@media (max-width:900px) {
    .icons{
        display: none;
    }
    .infoWrapper{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .buttonsBlock{
    
    justify-content: center;
}
}

@media (max-width:600px) {
    .icons{
        display: flex;
    }
    .icons span:not(:last-child)::after {
        content: '';
        width: 100px;
        position: absolute;
        height: 37px;
        bottom: -64px;
        left: 26%;
        transform: rotate(90deg);
        top: auto
    }
    .icons  span {
        width: 200px;
        height: 160px;
    }
}