.topLine{
    padding: 20px 0;
   }
   .topButtons{
       display: flex;
       justify-content: space-between;
       align-items: center;
   
   }
   .topButtons a{
       color: white;
       margin: 0 20px;
       text-decoration: none;
   }
   .menuButton{
    display: none;
}
   .loginBlock{
       display: flex;
       flex-direction: column;
       margin: 0 20px;
       justify-content: end;
       align-items: flex-end;
       color: white;
   }
   .loginBlock a{
       padding: 0;
       margin: 0;
   }
   .login{
       display: flex;
       align-items: center;
   }
   .mobileMenu{
    position: absolute;
    background: linear-gradient(275.92deg, #72327b 12.34%, rgba(201, 0, 112, 0.87) 122.99%);
    width: 300px;
    display: flex;
    flex-direction: column;
    bottom: 0;
    top: 0;
    z-index: 9;
    left: 0;
    padding: 25px 5px;
   }
   .loginBlockMenu{
       color: white;
       padding: 15px;
   }
   .mobileClose{
    position: absolute;
    right: 20px;
    font-size: 27px;
    top: 0;
   }

   @media (max-width:900px) {
  .topButtons a{
        color: white;
        margin: 3px 20px;
        text-decoration: none;
        border: 1px solid white;
        padding: 4px 12px;
       }
       .userIcon{
           display: none;;
       }
       .loginBlockMenu{
        color: white;
        padding: 0px 20px;
       }
       .loginBlockMenu p {
        margin-bottom: 0px;
       }
  
       .topMenu{
        display: flex;
        flex-direction: column;
        line-height: 18px;
       }
       .topMenu a{
           margin-bottom: 7px;
       }
       .loginBlock{
        display: none;
 
       }
       .loginBlock a{
           display: none;
       }
       .topMenu{
           display: none;
       }
       .menuButton{
           display: block;
           font-size: 25px;
       }



   }
  