* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif
}

input[type=text], input[type=password] {
    padding: 11px 16px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
}

input[type=submit] {
    border: none;
    padding: 15px 45px;
    margin: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background: #0B8F00;
    color: white;
    transition: 0.3s all linear;
    border-radius: 8px;
    box-shadow: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.carousel.carousel-slider {
    text-align: center;
}
.modalAbout{
    overflow: scroll;
}